body {
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	padding: 2rem 1rem;
}

.col-lg-12 {
	margin-bottom: 20px;
}

.btn-outline-success.disabled {
	color: #006400;
	font-weight: bold;
	background-color: #c9f2c9;
}