/*basic styles*/
html,
body {
  margin: 0;
}
html {
  background: #2c3e50;
}
body {
  font-family: 'Inconsolata', monospace;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  line-height: 1.6;
  text-align: center;
  height: 3000px;
}

.flex-container {
  border: 1px solid white;
  /* width: 400px; */
  height: 300px;
  margin: auto;
}

.another-container {
  border: 1px solid white;
  /* width: 400px; */
  height: 100px;
  margin: auto;
}

.flex-item,
.flex-item-bis {
  border: 2px solid white;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: white;
  margin: 0;
  line-height: 1;
  font-family: 'Asap', sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 4em;
  margin-bottom: 50px;
}
h3 {
  font-size: 1.8em;
  text-transform: uppercase;
}
p {
  font-size: 1.5em;
}

/* Flexbox Staff */
/* .flex-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
} */

/* .flex-container {
  display: flex;
  align-items: flex-start;
}

.flex-item-1 {
  align-self: stretch;
}

.flex-item-2 {
  align-self: center;
}

.flex-item-3 {
  align-self: flex-start;
}

.flex-item-4 {
  align-self: center;
} */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 0;
}

.another-container {
  display: flex;
}

.flex-item-5 {
  flex-grow: 1;
}
